body {
    background: linear-gradient(rgb(75, 92, 243), rgb(24, 38, 170)) no-repeat;
    background-size: cover;
    font-family: 'Comfortaa';
    font-weight: 300;
    overflow-x: hidden;
}
.midnightHeader.blue {
    background: none;
    color: blue;
  }
  .midnightHeader.default {
    background: none;
    color: black;
  }
  .fixed {
      height: 20px;
  }
p {
    margin: 0;
}
h2:hover {
    cursor: default;
}
.footer p:hover {
    cursor: default;
}
.main:hover {
    cursor: default;
}
.header {
    width: 100%;
    padding: 1px;
   background: #fff;

}

.header .main {
    display: inline;
    font-size: 35px;
    color: rgb(75, 92, 243);
    font-weight: 1000;
    text-transform: uppercase;
}

.language {
    display: inline;
    font-size: 20px;
    color: rgb(75, 92, 243);
    text-transform: uppercase;
}

.language:hover {
    color: rgb(24, 39, 180);
    text-decoration: none;
}
ul {
    margin-bottom: 10px;
    margin-top: 4px;
}
li {
    margin: 0;
}

.header .center {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.header .right {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    margin-top: -50px;
    margin-right: 10px;
}
.answer2 .fa-male {
    position: relative;
    left: 3px;
}
.answer2 .fa-female {
    position: relative;
    right: 4px;
}
.answer2 .fa-child {
    font-size: 15px;;
    position: relative;
    top: 1px;
}
.question {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 17px;
    margin-bottom: 15px;
    font-family: 'Acme';
    flex-wrap: nowrap;
}
.row {
    perspective: 700px;
}

.answer {
    font-size: 20px;
    color: rgb(75, 92, 243);
    font-family: 'Acme';
    padding: 15px 55px;
    text-align: center;
    background: #fff;
    border-radius: 48%;
    margin-left: 10px;
    transition: 1s;
    z-index: 2;
}
.answer:hover {
cursor: pointer;
box-shadow: 0 0 12px #fff;
transition: all 1s, box-shadow .3s;
}
.footer{
    text-align: center;
    font-family: 'Acme';
    background: #fff;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(75, 92, 243);
    padding: 5px;
}
.section-1 {
    display: block;
}
.section-1.active {
    display: none;
}
.section-2 {
    display: block;
    position: relative;
    right: -200px;
    opacity: 0;
}
.section-2 .question {
    margin-top: 35.5px;
}
.section-2 .answer {
    margin-bottom: 50px;
}
.section-2 .question9 .answer {
    margin-bottom: 40px;
}
.section-2 .question5 .answer {
    margin-bottom: 0px;
}
.section-2.active {
    display: none;
}
.animation-1 {
animation: section-1 alternate forwards .4s;
position: relative;
right: 0;
}
.animation-2 {
animation: section-2 alternate forwards .5s;
}
.animationBack-1 {
animation: sectionBack-1 alternate forwards .4s;
position: relative;
}
.animationBack-2 {
animation: sectionBack-2 alternate forwards .5s;
}
.main-back {
    position: fixed;
    top: 13%;
    left: -5.4%;
    font-size: 30px;
    color: rgb(24, 39, 180);
    background: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0 10px;
    display: none;
    z-index: 9999;
    transition: .6s;
}
.main-back:hover {
    cursor: pointer;
    left: 0;
    transition: .6s;
}
.main-back:hover .fa-undo {
    transform: rotate(-360deg);
}
.main-back .fa-undo {
    margin-left: 10px;
    font-size: 25px;
    transition: .6s;
}
.margin-right {
    
   margin-left: 7px;
}
.mt-0 {
    margin-top: 0;
}
.fa-arrows-v {
    color: #fff;
}
.reltop {
    position: relative;
    top: 15px;
}
.relright {
    position: relative;
    right: 12px;
}
.relrightyak {
    position: relative;
    right: 5px;
}
.back {
    height: 40px;
    font-size: 30px;
    color: #fff;
    opacity: 0;
    transition: 1s;
    visibility: hidden;
}
.back:hover {
    cursor: pointer;
}
.back:hover .fa {
    transform: rotate(-360deg);
    transition: .7s;
}
.fa {
    transition: 1s;
}
.next {
    font-size: 30px;
    color: rgb(75, 92, 243);
    transition: 1s;
    position: fixed;
    top: 13%;
    right: 1px;
    background: #fff;
    padding: 0 20px;
    border-bottom-left-radius: 25px;
border-top-left-radius: 25px;
}
.warning {
    display: none;
    font-size: 20px;
    color: #fff;
    transition: 1s;
    position: fixed;
    top: 21%;
    right: -100%;
    font-weight: 800;
}
.warning:hover {
    cursor: default;
}

.warning.active {
    display: block;
    opacity: 1;
}
.warning.active .exclamation {
    position: relative;
    animation: exclamation 2s infinite;
}
.disabled {
   display: none; 
}
.next:hover {
    cursor: pointer;
}
.txt {
    transition: .6s;
}
.next .fa {
    transition: .6s;
    margin-right: 15px; 
}
.next:hover .fa {
    margin-right: 0; 
}
.next:hover .txt {
    cursor: pointer;
    margin-right: 15px; 
}
.go-left {
    animation: go-left alternate forwards 1s;
}
.go-right {
    animation: go-right alternate forwards 1s;
}
@keyframes section-1 {
    100% {
       opacity: 0;
       right: 650px;
    }
}
@keyframes section-2 {
    60% {
        right: 50px;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}
@keyframes sectionBack-1 {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
       opacity: 0;
       left: 400px;
    }
}
@keyframes sectionBack-2 {
    0% { 
        opacity: 0;
        left: -200px;
    }
    50% {
        left: 100px;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes exclamation {
    0% {
        bottom: 0;
    }
  5% {
      bottom: 10px;
  }
  10% {
    bottom: 0;
  }
  20% {
    bottom: 6px;
  }
  22% {
    bottom: 0;
  }
  35% {
    bottom: 3px;
  }
  37% {
      bottom: 0;
  }
}
@media (max-width: 1200px) {
    .question h2 {
        font-size: 25px;
    }
    .question2 .answer .fa {
        font-size: 13px;
    }
    .question4 .answer .fa {
        font-size: 15px;
    }
    .question1 .answer {
       line-height: 17px;
    }
    .answer p{
        font-size: 16px;
    }
}
@media (max-width: 838px) {
    .answer {
       padding: 8px 43px;
    }
}
@media (max-width: 992px) {
    .question1  {
      position: relative;
      right: 10px;
    } 
    .question1  .answer4{
      margin-top: 5px;
      position: relative;
      left: 15px;
    } 
    .question1 .answer {
        line-height: 25px;
    }
}
@media (max-width: 767px) {
    .question1 .answer {
        line-height: 18px;
    }
}
@media (max-width: 537px) {
    .answer {
    padding: 8px 35px;
    }
    .question1 .answer {
        line-height: 22px;
    }
}
@media (max-width: 474px) {
    .answer {
        padding: 8px 30px;
        }
        .question1 .answer {
            line-height: 18px;
        }
}