.section-3 {
    display: block;
}
.section-3.active {
    display: none;
    text-align: center;
}
.place {
    font-size: 20px;
    color: rgb(75, 92, 243);
    font-family: 'Acme';
width: 100%;
height: 160px;
    text-align: center;
    border-radius: 48%;
    transition: 1s;
    z-index: 99;
    margin-top: 30px;
    border: 1px solid #fff;
    box-shadow: 0 0 12px #fff; 
}
.place:hover {
    cursor: pointer;
    box-shadow: 0 0 12px #000; 
    background-size: 120%!important;
}
.place1 .place {
    background: url('../img/park1.jpg') center center  no-repeat;
        background-size: 100%;
}
.place2 .place {
    background: url('../img/park2.jpg') center center  no-repeat;
        background-size: 100%;
}
.place3 .place {
    background: url('../img/park3.jpg') center center  no-repeat;
        background-size: 100%;
}
.place4 .place {
    background: url('../img/park4.jpg') center center  no-repeat;
        background-size: 100%;
}
.place5 .place {
    background: url('../img/park5.jpg') center center  no-repeat;
        background-size: 100%;
}
.place6 .place {
    background: url('../img/park6.jpg') center center  no-repeat;
        background-size: 100%;
}
.place6 .description-small {
   margin-bottom: 30px;
}
.section-3 .places {
    text-align: center;
}
.places .title {
    margin-top: 5px;
    color: #fff;
    font-size: 25px;
    transition: 1s;
}
.places .description {
    margin-top: 5px;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    display: none;
}
.places .description-small {
    margin-top: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.places .description-small:hover {
    cursor: default;
}
.place6 .description {
    margin-bottom: 15px;
}
.places .title:hover {
    cursor: default;
}
.places .description:hover {
    cursor: default;
}
.back7 {
    right: 0!important;
} 
.main-place .extra {
    position: absolute;
    background: #fff;
    text-align: center;
    border-radius: 48%;
    transition: 1s;
    margin-top: 30px;
    border: 1px solid #fff;
    box-shadow: 0 0 12px #fff; 
}
.main-place .place-extra-1 {
 left: 200%
}
.main-place .place-extra-2 {
 right: 200%
}
.main-place .extra:hover {
    cursor: pointer;
    box-shadow: 0 0 12px #000; 
    background-size: 120%!important;
}
@media (max-width: 992px) {
    .places .title {
        font-size: 20px!important;
    }
    .places .titleActive {
        font-size: 25px!important;
    }
    .places .description-small {
        font-size: 16px!important;
    }
    .places .description {
        font-size: 16px!important;
    }
}